@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
    body {
        @apply font-sans;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}